<div id='list'>
  <h1 id='listTitle'><%= @title %></h1>
  <ul>
    <% @lines.each do |line| %>
    <li><span><%= line[0] %><% if line[1] %> - <em><%= line[1] %></em><% end %></span></li>
    <% end %>
  </ul>
  <br />
</div>
  <form action='/' method='POST'>
    <strong>New Task:</strong>
    <input type='text' name='task' placeholder='task content' />
    <input type='text' name='date' placeholder='due date' />
    <input type='submit' value='Save' class="button" />
  </form>
