<h1><% @lines.shift %></h1>
<p>
  <ul>
    <% @lines.each do |line| %>
    <li><%= line[0] %> <% if line[1] %><em><%= line[1] %></em><% end %></li>
    <% end %>
  </ul>
  <br />
  <form action='/' method='POST'>
    <strong>New Task:</strong>
    <input type='text' name='task' placeholder='task content' />
    <input type='text' name='date' placeholder='due date' />
    <input type='submit' value='Save' class="button" />
  </form>
</p>
