<div id='list'>
  <h1 id='listTitle'><%= @title %></h1>
  <ul>
    <% @tasks.each do |task| %>

    <li><span><%= task.description %> <em><% unless task.due.blank? %><%= '- ' + task.due %><% end %></em></span></li>
    <% end %>
  </ul>
  <br />
</div>
  <form action='/' method='POST'>
    <strong>New Task:</strong>
    <input type='text' name='task' placeholder='task content' />
    <input type='text' name='due' placeholder='due date' />
    <input type='submit' value='Save' class="button" />
  </form>
  <br />
  <form action='/delete' method='POST'>
    <strong>Delete:</strong>
    <input type='text' name='task' placeholder='task' />
    <input type='submit' value='Save' class="button" />
  </form>
